@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    height: 55px;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* border: 2px solid red; */
    /* border-radius: 50px;
    background-color: black; */
}

.leftnav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: rgb(0, 0, 0); */
}

.rightnav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    /* background-color: rgb(0, 0, 0); */
}

.logo {
    /* border: 2px solid red; */
    width: 15%;
    height: 100%;
    padding: 0% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    min-width: 50px;
    width: 70%;
    /* height: 100%; */
    border: 2px solid skyblue;
    border-radius: 50%;
}

.leftnav li {
    list-style: none;
    color: white;
}

.rightnav li {
    list-style: none;
    padding: 23px 20px;
}

.rightnav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rightnav li a:hover {
    /* padding-bottom: 4px;
    border: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(51, 255, 51); */
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.background {
    background: rgba(255, 255, 255, 0) url('../elements/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.section1 {
    height: 100vh;
}

.mydetail {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(229, 162, 255);
    max-width: 70%;
    /* border: 2px solid red; */
    margin: auto;
    padding: 10% 5%;
}

.myabout {
    /* border: 2px solid red; */
    width: 50%;
}

.mypic {
    /* border: 2px solid red; */
    width: 50%;
}

.mypic img {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.text-footer {
    text-align: center;
    padding: 5px 0px;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 15px;
}

.line{
    list-style: none;
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 785px) {
    
    .navbar{
        height: auto;
        transition: all 5s ease-out;
    }

    .nav-height{
        height: 55px;
    }

    .rightnav {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    } 

    .d-none{
        display: none;
        /* opacity: 0; */
    }

    .leftnav {
        width: 100%;
        display: none;
    }
    
    .d-flex{
        display: flex;
    }
    .leftnav li{
        width: 50%;
        text-align: center;
        font-size: 1em;
    }

    .burger{
        display: block;
    }
}