*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../elements/Background2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#navbar {
    background-color: rgba(77, 92, 92, 0.562);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    color: white;
}

#navbar ul {
    width: 50%;
}

#leftnav img {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(13, 0, 131);
    border-radius: 50%;
}

#leftnav {
    display: flex;
    align-items: center;
}

#leftnav li {
    margin: 0px 9px;
    padding: 5px 12px;
    list-style: none;
    font-family: monospace;
    font-size: 14px;
}

#rightnav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightnav li {
    margin: 0px 9px;
    padding: 5px 12px;
    list-style: none;
    font-family: monospace;
    font-size: 14px;
}

#rightnav li a {
    color: white;
    text-decoration: none;
}

#rightnav li a:hover {
    padding-bottom: 4px;
    border: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgba(2, 0, 131, 0.74);
}

.mydetail {
    background-color: rgba(41, 83, 83, 0.368);
    border: #393e46 solid 3px;
    border-radius: 20px;
    width: 69vw;
    height: 30vw;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.mypic {
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
}

.mypic img {
    width: 100%;
    height: 130%;
}

.myabout {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(8, 0, 56);
}

.myabout h1 {
    /* border: 2px solid red; */
    margin: 0%;
    width: 100%;
    height: 30%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myabout p {
    /* border: 2px solid red; */
    margin: 0%;
    width: 100%;
    height: 70%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    padding: 10% ;
    justify-content: center;
}